/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* end CSS Reset */

html,
body {
  height: 100%;
  background-color: var(--background);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-unit);
  flex-wrap: wrap-reverse;
  padding: 75px;
}

main .content {
  flex: 2;
}

main .illustration {
  flex: 2;
}

header {
  padding: calc(2*var(--spacing-unit));
}

.logo {
  height: 150px;
}

.illustration {
  min-width: 300px;
}

.btn {
  text-decoration: none;
  background-color: var(--primary);
  padding: calc(2*var(--spacing-unit)) calc(4*var(--spacing-unit));
  border-radius: var(--spacing-unit);
  color: var(--background);
}

.title {
  font-size: 4rem;
  line-height: 1;
}

.blurb {
  padding-top: calc(2*var(--spacing-unit));
  font-size: 1.5rem;
}

.spacer {
  height: calc(8*var(--spacing-unit));
}
